.infinite-scroll-wrapper {
  overflow: hidden;
  cursor: grab;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infinite-scroll-wrapper:active {
  cursor: grabbing;
}

.infinite-scroll-container {
  transform-style: preserve-3d;
  will-change: transform;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infinite-scroll-item {
  will-change: transform;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
